<!DOCTYPE html>
<!--{% load static %}-->
<html lang="us">
<head>
    <!--Bootstrap CSS-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
    <!--jQuery-->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <!--Popper.JS-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <!--Bootstrap JS-->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <!--Tempus Dominus time picker-->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/js/tempusdominus-bootstrap-4.min.js"></script>
    <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/css/tempusdominus-bootstrap-4.min.css" />-->
    <link rel="stylesheet" href="static/css/tempusdominus-bootstrap-4.min.css" />
    <!--Bootstrap custom theme-->
    <link rel="stylesheet" href="static/css/orders.css">
    <title>eatSpot</title>
</head>
<body style="background: black">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">eatSpot</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01"
            aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
                <a class="nav-link" href="#">Login</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="#">Sign up</a>
            </li>
            <div class="btn-group">
                <button type="button" class="btn btn-outline-light dropdown-toggle" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                    Login
                </button>
                <div class="dropdown-menu">
                    <form class="px-4 py-3">
                        <div class="form-group">
                            <label for="dropdownFormEmail1">Email address</label>
                            <input type="email" class="form-control" id="dropdownFormEmail1"
                                   placeholder="email@example.com">
                        </div>
                        <div class="form-group">
                            <label for="dropdownFormPassword1">Password</label>
                            <input type="password" class="form-control" id="dropdownFormPassword1"
                                   placeholder="Password">
                        </div>
                        <div class="form-group">
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" id="dropdownCheck">
                                <label class="form-check-label" for="dropdownCheck">
                                    Remember me
                                </label>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary">Sign in</button>
                    </form>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">New around here? Sign up</a>
                    <a class="dropdown-item" href="#">Forgot password?</a>
                </div>
            </div>
        </ul>
    </div>
</nav>
<!--{% block body %}-->
<div class="hero">
    <div class="hero" id="bottom"></div>
    <div class="hero" id="top"></div>
    <div class="hero" id="text">
        <p></p>
        <p></p>
        <!--Filter-->
        <div class="container" >
            <div class="row">
                <div class="col-sm">
                    <div class="form-group" >
                        <div class="input-group date" id="datetimepicker4" data-target-input="nearest">
                            <input type="text" class="form-control datetimepicker-input" data-target="#datetimepicker4"/>
                            <div class="input-group-append" data-target="#datetimepicker4" data-toggle="datetimepicker">
                                <div class="input-group-text"><i class="fa fa-calendar">Date</i></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="form-group" >
                        <div class="input-group date" id="datetimepicker3" data-target-input="nearest">
                            <input type="text" class="form-control datetimepicker-input" data-target="#datetimepicker3"/>
                            <div class="input-group-append" data-target="#datetimepicker3" data-toggle="datetimepicker">
                                <div class="input-group-text"><i class="fa fa-clock-o">Time</i></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="input-group">
                        <input id="people" type="text" class="form-control" aria-label="Text input with dropdown button" value="2">
                        <div class="input-group-append">
                            <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true">People</button>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="#" id="one">1</a>
                                <a class="dropdown-item" href="#" id="two">2</a>
                                <a class="dropdown-item" href="#" id="three">3</a>
                                <a class="dropdown-item" href="#" id="four">4</a>
                                <a class="dropdown-item" href="#" id="five">5</a>
                                <a class="dropdown-item" href="#" id="six">6</a>
                                <a class="dropdown-item" href="#" id="seven">7</a>
                                <a class="dropdown-item" href="#" id="eight">8</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Location-->
        <div class="col-sm">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Sydney" aria-label="Location" aria-describedby="button-addon2">
                <div class="input-group-append">
                    <button class="btn btn-primary" type="button" id="button-addon2">Let's go!</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div style="width: 100vw; height: 320px;"></div>



<main role="main" class="container">

    <div class="my-3 p-3 bg-white rounded shadow-sm">

        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link" href="#">Bookings</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="#">Tables</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Account details</a>
            </li>
        </ul>

        <div class="container text-muted pt-3">
            <div class="row media-body pb-3 mb-0 border-bottom border-gray">
                <div class="col">
                    This is where you can add or remove the table sizes available for booking and adjust how many tables of a given size are available to be reserved.
                </div>
            </div>
        </div>

        <div class="container text-muted pt-3">
            <div class="row media-body pb-3 mb-0 border-bottom border-gray">
                <div class="col-2">
                    Seats
                </div>
                <div class="col-7">
                    Number of tables
                </div>
                <div class="col-3">
                    Add/Remove table
                </div>

            </div>
        </div>

        <div class="container text-muted pt-3">
            <div class="row media-body pb-3 mb-0 lh-125 border-bottom border-gray">
                <div class="col-2">
                    &#128100 2
                </div>
                <div class="col-7">
                    14
                </div>
                <div class="col-3">
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <button type="button" class="btn btn-secondary">&#11014</button>
                        <button type="button" class="btn btn-secondary">&#11015</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="container text-muted pt-3">
            <div class="row media-body pb-3 mb-0 lh-125 border-bottom border-gray">
                <div class="col-2">
                    &#128100 4
                </div>
                <div class="col-7">
                    7
                </div>
                <div class="col-3">
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <button type="button" class="btn btn-secondary">&#11014</button>
                        <button type="button" class="btn btn-secondary">&#11015</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="container text-muted pt-3">
            <div class="row media-body mb-0 lh-125">
                <div class="col">
                        <button type="button" class="btn btn-block btn-primary">Add seating configuration</button>
                </div>
            </div>
        </div>

    </div>

</main>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="/docs/4.3/assets/js/vendor/jquery-slim.min.js"><\/script>')</script><script src="/docs/4.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o" crossorigin="anonymous"></script>
<script src="offcanvas.js"></script>



<!--{% endblock %}-->
</body>
</html>

<script type="text/javascript">
    $(function () {
        $('#datetimepicker3').datetimepicker({
            format: 'LT'
        });
    });
    $('#one').click(function(){
        $('#people').val('1');
    });
    $('#two').click(function(){
        $('#people').val('2');
    });
    $('#three').click(function(){
        $('#people').val('3');
    });
    $('#four').click(function(){
        $('#people').val('4');
    });
    $('#five').click(function(){
        $('#people').val('5');
    });
    $('#six').click(function(){
        $('#people').val('6');
    });
    $('#seven').click(function(){
        $('#people').val('7');
    });
    $('#eight').click(function(){
        $('#people').val('8');
    });

    $(function () {
        $('#datetimepicker4').datetimepicker({
            format: 'L'
        });
    });
</script>