extends layout



block content

    .home
        #bottom-home.home
        #top.home
        #text
            .container
                .row
                    .col-sm
                        h1.display-4.text-white
                            | Book the perfect table with eatSpot
        +search-field
