extends layout

block content
    .home
        #bottom-alt.home
        #top.home
        #text.home
            form(action='/signup/submit', method='post')
                .row
                    .col-sm
                        div
                            label(for='say') What greeting do you want to say?
                            input#say(name='say', value='Hi')
                .row
                    .col-sm
                        div
                            label(for='to') Who do you want to say it to?
                            input#to(name='to', value='Mom')
                .row
                    .col-sm
                        div
                            button Send my greetings
            h1
            h1
            .container
                form(method='POST', action='/signup/submit')
                    .row
                        .col-sm
                            h1.display-4.text-white.align-content-center.pb-5 Always find the perfect table with eatSpot
                    .row
                        .col-sm.pb-3
                            input.form-control(type='text', name='firstName', placeholder='First name', aria-label='Location', aria-describedby='button-addon2')
                        .col-sm.pb-3
                            input.form-control(type='text', name='lastName', placeholder='Last name', aria-label='Location', aria-describedby='button-addon2')
                    .row
                        .col-sm.pb-3
                            input.form-control(type='text', name='email', placeholder='Email', aria-label='Location', aria-describedby='button-addon2')
                        .col-sm.pb-3
                            input.form-control(type='text', name='phone', placeholder='Phone number', aria-label='Location', aria-describedby='button-addon2')
                    .row
                        .col-sm.pb-5
                            input.form-control(type='password', name='code', placeholder='Password', aria-label='Location', aria-describedby='button-addon2')
                        .col-sm.pb-5
                            a.btn.btn-secondary.btn-block(href='/signup-restaurateur', type='button') Restaurateur? Click here
                    .row
                        .col.pb-3
                            div
                                button kick some ass!
                            button.btn.btn-lg.btn-block.btn-primary(type='submit') Sign up!